<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/post-1/" title="post1">Planets</a></li>
      <li><a href="/post-2/" title="post2">Stars</a></li>
          </ul>
  </nav>